<footer class="py-5 px-1 flex items-center justify-center w-full absolute bottom-0 border-t">
  <a target="_blank" href="https://github.com/Jeann-Cavalcante">
  <span>©JeannCavalcante</span>
  </a>
</footer>